header {
  width: 100%;
  height: 100px;
  background-color: black;
  ul  {
    list-style: none;
    li {
      display: inline-block;
    }
    i {
      margin-right: 5px;
    }
    a {
      text-decoration: none;

    }
  }
  #top_header {
    @include HeaderTopBottom;
    width: 60%;
    flex-direction: row-reverse;
    ul {
      li {
        margin-right: 10px;
      }
      i {
        color: $btnLinkColor;
      }
      a {
        color: $linkColor;
        &:hover {
          color: $linkColorHover;
        }
      }
    }
  }
  #bottom_header {
    @include HeaderTopBottom;
    justify-content: center;
    width: 60%;
    #logo {
      height: 100%;
      width: 150px;
      background-image: url('../../images/logo_painter.png');
      background-size: contain;
    }
    ul {
      height: 100%;
      li {
        text-align: center;
        height: 100%;
        width: 130px;
        line-height: 50px;
         i {
           color: #ffffff;
         }
        &:hover {
          background-color: #E6E6E6;
          i {
            color: $mainColor;
          }
          a {
            color: $mainColor;
          }
        }
        a {
          color: #ffffff;
        }
      }
    }
  }
}
